@media(max-width: 1500px){
  .menu__list li+li {
    margin-left: 50px;
  }
  .header__info {
    max-width: 535px;
  }
  .slider__item {
    height: 500px;
    padding-left: 175px;
    padding-top: 80px;
  }
  .slider__box {
    max-width: 450px;
    padding: 35px 30px;
    font-size: 30px;
    line-height: 30px;
    &.slider__box-up {
      max-width: 430px;
      padding: 40px 10px;
    }
    &.slider__box-about {
      padding: 35px 30px;
      top: -25px;
      left: 360px;
    }
    .slider__about {
      font-size: 18px;
      line-height: 20px;
    }
    &.slider__box-content {
      top: -30px;
      left: 370px;
      max-width: 480px;
      padding: 31px 10px 10px 10px;
      font-size: 30px;
      line-height: 30px;
      .slider__info {
        padding-bottom: 10px;
        padding-top: 15px;
      }
    } 
  } 
  .slider .slick-dots button {
    width: 100px;
  }
}
@media(max-width: 1400px){
  .footer {
    margin-top: 80px;
  }
  .footer-bottom {
    padding-top: 60px;
  }
  .map iframe {
    width: 650px;
    height: 370px;
  }
  .contacts__list li {
    font-size: 18px;
    line-height: 18px;
  }
  .contacts__list li+li {
    margin-top: 25px;
  }
  .contacts__list li {
    font-size: 16px;
    line-height: 16px;
  }
  .contacts__list-worktime li+li {
    margin-top: 5px;
  }
  .question__form{
    max-width: 550px;
    input{
      padding: 15px 40px;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 20px;
      &::placeholder{
        font-size: 18px;
        line-height: 18px;  
      }
    }
    button {
      padding: 15px 20px;
    }
  }
  .question {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .question__text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .title {
    font-size: 40px;
    line-height: 40px;
  }
  .services__tubs {
    margin-bottom: 145px;
  }
  .services__tubs {
    margin-top: 45px;
  }
  .tabs .tab {
    padding: 5px 20px;
    font-size: 18px;
    line-height: 18px;
  }
  .tabs .tab+.tab {
    margin-left: 50px;
  }
  .tabs {
    padding: 8px 0;
    margin-bottom: 20px;
  }
  .tab_content {
    height: 360px;
  }
  .tab-item .tab__item-inner {
    padding-top: 55px;
    padding-left: 55px;
  }
  .tab-item .tub__content-list li {
    font-size: 16px;
    line-height: 16px;
  }
  .tab-item .tub__content-list li+li {
    margin-top: 25px;
  }
  .tab-item .service__link {
    padding: 15px 15px;
    font-size: 18px;
  }
  .tab__bg-line {
    top: 213px;
  }
}
@media(max-width: 1300px){
  .models__item {
    height: 210px;
    margin-bottom: 75px;
  }
  .models__items {
    margin-top: 85px;
  }
  .models__item img {
    max-width: 220px;
    max-height: 140px;
  }
  .models__item .models__item-img {
    width: 220px;
    height: 140px;
  }
  .models__item .models__item-title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media(max-width: 1200px){
  .menu__list li+li {
    margin-left: 25px;
  }
  .header__inner {
    font-size: 14px;
    line-height: 14px;
  }
  .info__box {
    font-size: 14px;
    line-height: 14px;
  }
  .header__info {
    max-width: 430px;
  }
}

@media(max-width: 1100px){
  .map iframe {
    width: 525px;
    height: 300px;
  }
  .contacts__list {
    max-width: 270px;
    margin-top: 35px;
    margin-left: 60px;
  }
  .models__item {
    margin-right: 35px;
    margin-left: 35px;
  }
  .slider__item {
    height: 400px;
    padding-left: 35px;
    padding-top: 30px;
  }
}
@media(max-width: 900px){
  .header.header__fixed{
    height: auto;
    .header__logo img{
        max-height: 60px;
        max-width: 60px;
    }
  }
  .contacts__list {
    max-width: 270px;
    margin-top: 40px;
    margin-left: 10px;
  }
  .footer-bottom__text{
    font-size: 12px;
    line-height: 12px;
  }
  .footer-bottom {
    padding-top: 35px;
  }
  .map iframe {
    width: 435px;
    height: 260px;
  }
  .contacts__list li {
    font-size: 14px;
    line-height: 14px;
  }
  .tab-item .tub__content-list li {
    font-size: 14px;
    line-height: 14px;
  }
  .tab-item .tub__content-list li+li {
    margin-top: 15px;
  }
  .tab-item .tub__content-list {
    margin-bottom: 25px;
  }
  .tab-item .service__link {
    padding: 10px 15px;
    font-size: 16px;
  }
  .tab_content {
    height: 245px;
  }
  .tabs .tab {
    font-size: 16px;
    line-height: 16px;
  }
  .tabs {
    margin-bottom: 15px;
  }
  .tab__bg-line {
    height: 200px;
    top: 140px;
  }
  .tab-item .tab__item-inner {
    padding-top: 35px;
    padding-left: 35px;
  }
  .models__item img {
    max-width: 150px;
    max-height: 100px;
  }
  .models__item .models__item-img {
    width: 150px;
    height: 100px;
    margin-bottom: 15px;
  }
  .models__item .models__item-title {
    font-size: 18px;
    line-height: 18px;
  }
  .models__item {
    height: 150px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .title {
    font-size: 38px;
    line-height: 38px;
  }
  .slider__item {
    height: 265px;
  }
  .slider__box {
    max-width: 235px;
    padding: 15px 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .slider__box .slider__about {
    font-size: 14px;
    line-height: 15px;
  }
  .slider__box.slider__box-up {
    max-width: 290px;
    padding: 20px 10px;
  }
  .slider__box.slider__box-about {
    padding: 15px 10px;
    top: -5px;
    left: 110px;
  }
  .slider__box.slider__box-content {
    top: -5px;
    left: 110px;
    max-width: 250px;
    padding: 10px 5px 5px 5px;
    font-size: 18px;
    line-height: 18px;
  }
  .slider__box.slider__box-content .slider__info {
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 1px solid #fff;
  }
  .header__info{
    margin-left: auto;
  }
  .header__logo img {
    max-width: 60px;
    max-height: 60px;
  }
  .header__logo{
    &::after {
      left: calc(50% + 30px);
    }  
    &::before {
      right: calc(50% + 30px);
    } 
  }
  .menu__btn{
    display: block;
  }
  .menu{
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 0;
    top: 130px;
  }
  .menu__list{
    height: 100vh;
    display: none;
    font-size: 18px;
    line-height: 18px;
    padding: 35px 20px;
    background-color: #131313;
    width: 100%;
    border-top: 2px solid #a6a6a6;
    border-bottom: 2px solid #a6a6a6;
    li + li{
      margin-left: 0;
      margin-top: 10px;
      border-top: 1px solid #a6a6a6;
    }
    li{
      display: block;
      text-align: right;
      width: 100%;
      a{
        padding: 10px 7px;
      }
    }
  }
  .info__box{
    display: none;
  }
  .header__info {
    max-width: 285px;
  }
}
@media(max-width: 700px){
  .footer__top-inner {
    justify-content: center;
  }
  .models__link{
    padding: 10px;
    font-size: 18px;
    line-height: 18px;
  }
  .contacts__list {
    margin-bottom: 25px;
  }
  .map {
    width: 100%;
    iframe {
      display: block;
      min-width: 100%;
      width: 100%;
      height: 260px;
    }  
  }
  .title {
    font-size: 34px;
    line-height: 34px;
  }
  .models__items{
    justify-content: center;
    margin-top: 50px;
  }
  .models__item img {
    max-width: 115px;
    max-height: 80px;
  }
  .models__item .models__item-img {
    width: 115px;
    height: 80px;
    margin-bottom: 10px;
  }
  .models__item {
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
    height: 115px;
  }
  .models__item .models__item-title {
    font-size: 16px;
    line-height: 16px;
  }
  .models__link-inner {
    max-width: 157px;
    height: 40px;
  }
}
@media(max-width: 600px){
  .services__tubs {
    margin-bottom: 100px;
  }
  .question__form{
    max-width: 350px;
    input{
      padding: 10px 35px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 16px;
      &::placeholder{
        font-size: 16px;
        line-height: 16px;  
      }
    }
    button {
      padding: 10px 15px;
      font-size: 16px;
      line-height: 16px;
    }
  }
  .question__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 25px;
    margin-left: 40px;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
  }
  .question {
    padding-top: 35px;
    padding-bottom: 45px;
  }
  .tabs .tab+.tab {
    margin-left: 10px;
  }
  .tab-item .tab__item-inner {
    padding-top: 25px;
    padding-left: 25px;
  }
  .tab-item .tub__content-list li {
    font-size: 12px;
    line-height: 12px;
  }
  .tab-item .tub__content-list li::before {
    height: 10px;
    width: 10px;
    top: 0px;
  }
  .tab-item .service__link {
    padding: 8px 10px;
    font-size: 14px;
  }
  .tab__bg-line {
    height: 150px;
    top: 130px;
  }
  .tabs {
    margin-bottom: 10px;
  }
  .tab_content {
    height: 200px;
  }
  .tabs .tab {
    font-size: 14px;
    line-height: 14px;
  }
}
@media(max-width: 500px){
  .tabs .tab+.tab{
    margin-left: 0;
  }
  .tabs .tab {
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: rgb(87, 87, 87);
  }
  .tab-item .tab__item-inner {
    padding-top: 20px;
    padding-left: 15px;
  }
  .tab-item .tub__content-list li+li {
    margin-top: 10px;
  }
  .tab-item .tub__content-list {
    margin-bottom: 15px;
  }
  .tab_content {
    height: 160px;
  }
  .tab__bg-line {
    top: 85px;
  }
  .slider__item {
    height: 210px;
    padding-left: 5px;
    padding-top: 25px;
  }
  .slider .slick-dots button {
    width: 75px;
  }
  .slider .slick-dots {
    margin-top: 8px;
  }
}
@media(max-width: 400px){
  .menu{
    top: 145px;
  }
  .map iframe {
    height: 235px;
  }
  .title {
    font-size: 28px;
    line-height: 28px;
  }
  .question__form {
    max-width: 235px;
    input {
      padding: 10px 10px;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 14px;
      &::placeholder{
        font-size: 14px;
        line-height: 14px;  
      }
    }
  }
  .question__text {
    font-size: 13px;
    line-height: 13px;
    margin-left: 20px;
  }
  .slider__box.slider__box-content {
    max-width: 190px;
    font-size: 14px;
    line-height: 14px;
  }
  .slider__item {
    padding-left: 0px;
  }
  .slider__box.slider__box-up {
    max-width: 235px;
  }
  .slider__box {
    max-width: 200px;
    font-size: 16px;
    line-height: 18px;
  }
  .slider__box .slider__about {
    font-size: 12px;
    line-height: 13px;
  }
  .slider__box.slider__box-about {
    left: 80px;
  }
  .header__info{
    display: block;
  }
  .menu__btn{
    margin-left: auto;
  }
  .info__spec-offer {
    text-align: right;
    margin-bottom: 15px;
  }
}

@media(min-width: 900px){
  .menu__list{
    display: flex !important;
  }
}