@import 'vars';
@import 'global';
@import 'fonts';
@import 'animation';

//header start
.link-decoration{
    position: relative;
    transition: all .5s;
    &:hover{
        letter-spacing: 1.1px;
        &::after{
            opacity: 1;    
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        bottom: -2px;
        left: 0;
        opacity: 0;
        transition: all .5s;
    }
}
.header{
   background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
   padding: 15px 0;
   margin-bottom: 15px;
   transition: all 1s;
    position: fixed;
    width: 100%;
    z-index: 9998;
    left: 0;
    top: 0;  
    &.header__fixed{
        height: 165px;
        .header__logo img{
            max-height: 75px;
            max-width: 75px;
        }
    }
}

.header__logo{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    img{
        max-width: 100px;
        max-height: 100px;
        animation-name: fadeIn;
        animation-duration: 2s;
        transition: all .5s;
        &:hover{
            transform: scale(1.05);
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 2px solid $acent;
        top: 50%;
        left: calc(50% + 50px);
        
        animation-name: fadeInRightBig;
        animation-duration: 1.5s;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 2px solid $acent;
        top: 50%;
        right: calc(50% + 50px);
        animation-name: fadeInLeftBig;
        animation-duration: 1.5s;
    }
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 635px;
    width: 100%;
}
.info__spec-offer{
    font-weight: 700;
}
.info__box{
    font-size: 18px;
    line-height: 18px;
    .info__tel{
        font-weight: 700;
        margin-top: 5px;
    }
}
.menu__list{
    li + li{
        margin-left: 90px;
    }
}
.menu__btn{
    cursor: pointer;
    display: none;
    max-width: 30px;
}
.menu__btn-line{
    height: 4px;
    width: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
}
//header end

//slider start
.slider{
    margin-bottom: 80px;
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        li + li{
            margin-left: 15px;
        }
        .slick-active{
            transition: all .3s;
            button{
                background-color: #fff;
                transition: all .5s;
                box-shadow: 0px 8px 9.1px 0.9px rgba(0, 0, 0, 1.004);
            }
        }
        button{
            outline: none;
            cursor: pointer;
            width: 150px;
            height: 8px;
            font-size: 0;
            background-color: #2d2d2d;
            border: none;
        }
    }
}
.slider__item{
    height: 589px;
    padding-top: 50px;
    padding-left: 65px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider__box{
    max-width: 615px;
    position: relative;
    padding: 80px 30px;
    font-size: 55px;
    line-height: 55px;
    // animation-name: fadeInLeftBig;
    // animation-duration: 1s;
    // animation-iteration-count: infinite;
    .slider__bg{
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 50%;
    }
    .slider__text{
        position: relative;  
        text-align: center;
    }
    .slider__about{
        font-size: 24px;
        line-height: 24px;
    }
}
.slider__box.slider__box-content{
    top: -60px;
    left: 480px;
    max-width: 690px;
    position: relative;
    padding: 55px 23px 15px 23px;
    font-size: 48px;
    line-height: 48px;
    .slider__info{
        border-bottom: 3px solid #fff;  
        padding-bottom: 35px;
        padding-top: 25px;
    }
}
.slider__box.slider__box-about{
    padding: 65px 30px;
    top: -40px;
    left: 500px;
}
.slider__box.slider__box-up{
    max-width: 700px;
    padding: 50px 15px;
} 
//slider end

//models start
.models__container{
    max-width: 1380px;
    margin: 0 auto; 
    padding: 0 5px;   
}
.models__items{
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.models__item{
    height: 250px;
    margin-bottom: 100px;
    margin-right: 65px;
    margin-left: 65px;
    &:hover{
        .models__item-title{
            font-size: 26px;
        }
        .models__item-img{
            transform: scale(1.05);   
        }
    }
    .models__item-img{
        transition: all .3s;
        display: block;
        height: 180px;
        width: 280px;
        border-bottom: 2px solid #fff;
        margin-bottom: 25px;
        animation-name: fadeInUp;
        animation-duration: 1s;
    }
    img{
        max-width: 280px;
        max-height: 180px;
    }
    .models__item-title{
        transition: all .3s;
        font-size: 30px;
        line-height: 30px;
    }
}
.models__link-inner{
    margin-left: auto; 
    max-width: 233px;
    height: 53px;
}
.models__link{
    background-color: #1f1f1f;
    border: 1px solid #fff;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    transition: all .3s;
    &:hover{
        box-shadow: 0px 0px 20px 1px #000;
        transform: scale(1.1);
    }
}
//models end

//services start
.tabs{
    padding: 10px 0;  
    margin-bottom: 35px;
    .tab{
        cursor: pointer;
        padding: 10px 30px;
        font-size: 24px;
        line-height: 24px;
        & + .tab{
            margin-left: 80px;
        }
        &.active{
            background-color: #3b3b3b;
            text-decoration: underline;
        }
    }
}
.tab-item{
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    .tab__item-inner{
        background: linear-gradient(90deg, rgba(59,59,59,1) 0%, rgba(59,59,59,1) 50%, rgba(34,34,34,0) 100%);
        height: 100%;
        padding-top: 90px;
        padding-left: 80px;
    }
    .service__link{
        background-color: #1f1f1f;
        border: 1px solid #fff;
        padding: 20px 25px;
        font-size: 20px;
        &:hover{
            text-decoration: underline;
        }
    }
    .tub__content-list{
        padding-left: 15px;
        display: block;
        margin-bottom: 40px;
        li + li{
            margin-top: 25px;
        }
        li{
            font-size: 18px;
            line-height: 18px;
            display: block;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-image: url(../images/icons/next.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 12px;
                width: 12px;
                left: -15px;
                top: 2px;
            }
        }
    }
}
.tab_content{
    background-color: #3b3b3b;
    height: 420px;  
}
.services__tubs{
    position: relative;
    margin-top: 80px;
    margin-bottom: 190px;
}
.tabs__inner{
    position: relative;
    z-index: 2;
}
.tab__bg-line{
    position: absolute;
    height: 280px;
    background-color: #fff;
    width: 100%;
    right: 20%;
    top: 260px;
    z-index: 1;
    box-shadow: 19.926px 23.747px 65px 0px rgba(0, 0, 0, 1.004);
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
//services end

//question start
.question{
    background-color: #000;
    padding-top: 55px;
    padding-bottom: 90px;
}
.question__text{
    margin-top: 40px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 65px;
    margin-bottom: 60px;
}
.question__form{
    max-width: 650px;
    margin: 0 auto;
    input{
        outline: none;
        display: block;
        width: 100%;
        border: none;
        padding: 20px 50px;
        margin-bottom: 60px;
        font-size: 24px;
        color: #000;
        line-height: 24px;
        &::placeholder{
            font-size: 24px;
            color: #000;
            line-height: 24px;  
        }
    }
    button{
        background-color: #1f1f1f;
        border: 1px solid #fff;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        padding: 20px 33px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
//question end

//footer start
.footer{
    margin-top: 100px;
}
.footer__top-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom{
    padding-top: 145px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}
.contacts__list{
    max-width: 455px;
    margin-top: 50px;
    margin-left: 130px;
    li + li{
        margin-top: 45px;
    }
    li{
        font-size: 20px;
        line-height: 20px;
        display: block;
    }
}
.contacts__list-worktime{
    li{
        text-decoration: underline;
    }
    li + li{
        margin-top: 5px;
    }
}

.map{
    iframe{
        width: 780px;
        height: 460px;     
    }   
}
//footer end

@import 'media';